<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="collectionImp" class="com.self.learnFile.pojo.implement.CollectionImp">
    <property name="array">
        <array>
            <value>100</value>
            <value>200</value>
            <value>300</value>
<!--            <ref bean="maintainer" />-->
        </array>
    </property>
    <property name="list">
        <list>
            <value>100</value>
            <value>200</value>
            <value>300</value>
        </list>
    </property>
    <property name="set">
        <set>
            <value>100</value>
            <value>200</value>
            <value>300</value>
        </set>
    </property>
    <property name="map">
        <map>
            <entry key="100" value="100" />
            <entry key="200" value="200" />
            <entry key="300" value="300" />
        </map>
    </property>
    <property name="properties">
        <props>
            <prop key="100">100</prop>
            <prop key="200">200</prop>
            <prop key="300">300</prop>
        </props>
    </property>
</bean>


</beans>