<component name="libraryTable">
  <library name="logback-classic-1.5.9 (2)">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/day09-ATMProject/lib/logback-classic-1.5.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09-ATMProject/lib/logback-core-1.5.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/day09-ATMProject/lib/slf4j-api-2.0.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>